.Cabecera{
	float:left;
	width: 99.8%;
	padding:0.5em;
	color:white;
	background-color:#ededed;
	vertical-align:center;
	border-bottom:5px solid;
	border-bottom-color:gray;
	
	margin-bottom:5px;
	
	

}
.Logo{
	width:100px;
	height:100px;
	float:left;
	
	
}
.Logotipo{
	width:100px;
	height:100px;
	margin-right:40px;
	float:left;
}
nav{
	display:inline-block;
	margin:auto;
	font-family:Arial;
	margin-left:28%;
	
	

}
nav ul {	
	
	list-style:none;

}

#nav li a {

	background-color:#ededed;
	color:#03b7ec;
	border:2px solid gray;
	text-decoration:none;
	padding:10px 15px;
	display:block;
	margin-right:3px;
	
	
	
}
#nav li a:hover {
background-color:skyblue;

}
#nav > li {
float:left;
margin-bottom:2px;
	
}

#nav li ul {

	display:none;
	position:absolute;
	min-width:140px;
	margin-bottom:2px;
	
	
}
#nav li:hover > ul {
display:block;


	
}
#nav li ul li {

	position:relative;	
	margin-bottom:2px;
	
}
#nav li ul li ul {
right:-140px;
top:0;
	
}
.pie{
	border-top: solid 5px grey;
	width:99.9%;
	text-align:center;
	float:left;
	background-color:#ededed;
}
iframe{
	width:400px;
	height:300px;
	
}
.infp{
	float:left;
	width:30%;
}
.imgp{
	width:40%;
	margin-left:50%;
}
.contp{
	float:left;
	text-align:left;
	margin-left:20px;
}
.instituto{
display:block;
margin:auto;
}
.texto{
    margin-left: 15%;
    margin-right: 15%;

}	
h1{
	text-align: center;
}

.contenido{
	
	margin-left:20px;
	clear:both;
	
}
header{
	
	
	top:0;
	width:99%;
	

	
}
header h1{
	color:#03b7ec;
	
	font-family:Impact, Charcoal, sans-serif;
	margin-top:30px;
	
}
footer{
	
	margin-top:40px;
	bottom:0;
	
}
.animación{
	width:100px;
	height:120px;
	float:left;
	
}
.Banderas{
	text-align:right;
	float:right;
}
.Bandera{
	width:30px;
	height:30px;
	
}
body{
	
	margin : 0;
	padding: 0;
	background-color:#d4fff4;

}
.cuerpoindex{
	margin-left:20%;
	margin-right:20%;
}
.foto{
	clear:both;

}

