.Cabecera{
	float:left;
	width: 99.8%;
	padding:0.5em;
	color:white;
	background-color:#ededed;
	vertical-align:center;
	border-bottom:0.5em solid;
	border-bottom-color:gray;
	

}
.Logo{
	width:100px;
	height:100px;
	float:left;

	
}
.Logotipo{
	width:100px;
	height:100px;
}
nav{
	
	margin-bottom:4em;
	clear:left;

}
nav ul {	
	list-style:none;
	float:right;
	margin-right:15%;
}
#nav > li {
	float:left;
	margin-right:0.2em;
	
}
#nav li a {
	background-color:#ededed;
	color:black;
	width:8em;
	text-align:center;
	text-decoration:none;
	padding:0.625em 0.75em;
	display:block;
	border:0.1em solid white;
	
	
}

#nav li a:hover {
	background-color:skyblue;
}
#nav li ul {
	display:none;
	position:absolute;
	width:8.75em;
	
}
#nav li:hover > ul {
	display:block;
}
#nav li ul li {
	position:relative;
	margin-bottom:0.2em;
	
}
#nav li ul li ul {
	right:-8.85em;
	top:0;
}
.pie{
	border-top: solid 5px grey;
	width:99.9%;
	text-align:center;
	float:left;
	background-color:#ededed;
}
iframe{
	width:400px;
	height:300px;
	
}
.infp{
	float:left;
	width:30%;
}
.imgp{
	width:40%;
	margin-left:45%;
}
.instituto{
	width:45%;
	margin-left:20%;
	
}
.contenido{
	
	margin-left:20px;
	
	
}
header{
	
	
	top:0;
	width:99%;
	clear:both;

	
}
footer{
	
	margin-top:20px;
	
}
.animación{
	width:120px;
	height:150px;
	float:left;
}
.Banderas{
	text-align:right;
	float:right;
}
.Bandera{
	width:30px;
	height:30px;
	
}
body{
	
	margin : 0;
	padding: 0;
	background-color:#d4fff4;

}
.cuerpoindex{
	margin-left:25%;
	margin-right:20%;
}

